
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>

    <header>
        <h1>Admin stranica</h1>
    </header>




</body>
</html>

