@{
    ViewBag.Title = "Kontakt:";
}
<h2>@ViewBag.Title</h2>
<h3>Telefon: 060 256 555</h3>
<h3>Adresa: Masarikova 4, Beograd</h3>
<h3>11000</h3>

<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=snajper&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
<style>
    body {
        background-image: url(image/gunstore2.jpg)!important;  
    }
    h1, h2, h3, h4 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: center;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 600px;
        margin:auto;
    }
</style>
    <a style="margin:auto"href="https://www.embedgooglemap.net">custom google map for website</a>
<style>
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 600px;
        margin:auto;
    }
</style></div></div>
