@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<style>
    body {
        background-image: url('https://www.therangellc.com/img/basket/Retail%202_1.jpg')!important;
    }
    .pozadina
    {
        background-color: gray;
        margin:20px;
        padding:20px;
        opacity:0.8;
        transition:0.5s;
    }
    .pozadina:hover{
        opacity:1;
        transition: 0.5s;
    }
    p,h1{
        color:white;
    }
</style>
<body>
<div class="pozadina" >
    <div>
        <h1>Prodavnica Oružja</h1>
        <p>Luka Pavlović 86/18</p>
    </div>
</div>
    </body>
</html>

